<!DOCTYPE html>
<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="vue.js"></script>
    <script src="script.js"></script>
    <script src="script2.js"></script>

   

    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="style2.css" type="text/css">
    <link rel="stylesheet" href="nav.css" type="text/css">
    <link rel="stylesheet" href="login.css" type="text/css">
    <link rel="stylesheet" href="registration.css" type="text/css">
    <link rel="stylesheet" href="filter.css" type="text/css">



    <script src="https://kit.fontawesome.com/779b41c1bd.js" crossorigin="anonymous"></script> 
</head>
<body>

    <div id="background">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="bubble bubble5"></div>
        <div class="bubble bubble6"></div>
        <div class="bubble bubble7"></div>
        <div class="bubble bubble8"></div>
        <div class="bubble bubble9"></div>
        <div class="bubble bubble10"></div>
        <div class="bubble bubble11"></div>
        <div class="bubble bubble12"></div>
        <div class="bubble bubble13"></div>
        <div class="bubble bubble14"></div>
        <div class="bubble bubble15"></div>
        <div class="bubble bubble16"></div>
        <div class="bubble bubble17"></div>
        <div class="bubble bubble18"></div>
        <div class="bubble bubble19"></div>
        <div class="bubble bubble20"></div>
    </div>

    <div id="app" class="app">
        <div class="content">
            <!-- <table id="selectTable">
                <tr>
                    <td v-for="field in fieldset"> {{ field.title }}</td>
                </tr>
                <tr>
                    <td  v-for="field in fieldset">
                        <label class="switch">
                            <input type="checkbox" v-model="field.bShow">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
            </table> -->


            <!-- selBier = {{ selBier }} -->
            
            <beer-form id="edit" v-bind:biertje="selBier"></beer-form>
            <!-- <beer-delete id="delete" v-bind:biertje="selBier"></beer-delete>
            <beer-add id="add" v-bind:biertje="selBier"></beer-add> -->

            <!-- <table id="beerTable">
                <tr>
                    <th id="addHover">
                        <i class="fas fa-folder-plus" onclick="add()" v-on:click="addBier()" style="cursor: pointer;"></i>
                    </th>
                    <th v-for="field in fieldset"
                        v-if="field.bShow">
                        {{ field.title }}
                    </th>
                    <th></th>
                </tr>
                <tr v-for="bier in biertjes" class="tables">
                    <td class="iconKleur">
                        <i class="fas fa-trash" onclick="del()" style="cursor: pointer;" onmouseover="iconHover(this)" onmouseleave="iconLeave(this)" v-on:click="delBier(bier)"></i>
                        <i class="fas fa-edit" onclick="edit()" style="cursor: pointer;" onmouseover="iconHover(this)" onmouseleave="iconLeave(this)" v-on:click="updBier(bier)"></i>
                    </td>
                    <td v-for="field in fieldset" v-if="field.bShow">
                        {{ bier[field.field] }}
                    </td>
                    <td>
                        <i class="far fa-thumbs-up" onmouseover="thumbHover(this)" onmouseleave="thumbLeave(this)" v-on:click="updLike(bier)"></i>
                    </td>
         
                </tr>   
            </table> -->



            
            <registration id="registration"></registration>
            <inlog id="inlog"></inlog>

            <div class="nav">
                <button class="btnInlog" onclick="showInlog()" v-if="!logindata.logged_in">Inloggen</button>
                <button class="btnInlog" v-on:click="logout" v-if="logindata.logged_in">Uitloggen</button>
            </div>

            <div class="beerContainer">
                <div class="beerList">
                    <div class="beer" v-for="bier in biertjes">
                        <div class="beerField">
                            <div class="nameField">
                                <h2>{{bier.naam}}</h2>
                            </div>
                            <div class="row2">
                                <div class="brewerField">
                                    <h4>{{bier.brouwer}}</h4>
                                </div>
                                <div class="priceField">
                                    <h4> &#8364 {{bier.inkoop_prijs}}</h4>
                                </div>
                            </div>
                            <div class="restField">
                          
                                <div class="infoField">
                                    <h6>type: {{bier.type}}
                                    <h6>gisting: {{bier.gisting}}</h6>
                                    <h6>perc: {{bier.perc}}</h6>
                                </div>
                                <div class="ratingField">

                                    <div class="thumbsup">
                                        <div class="circle" v-on:click="updLike(bier)">
                                            <i class="fas fa-thumbs-up" v-bind:class="{liked: bier.liked}"></i>
                                        </div>
                                        <p>{{bier.likes}}</p><p v-if="bier.likes != 1">likes</p><p v-if="bier.likes == 1">like</p> 
                                    </div>
                                    <div class="rating">
                                        <div class="stars">
                                            <div class="star" v-if="bier.avgRating > 0">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating > 1">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating > 2">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating > 3">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating > 4">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating < 1">
                                                <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating < 2">
                                                <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating < 3">
                                                <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating < 4">
                                                <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                            </div>
                                            <div class="star" v-if="bier.avgRating < 5">
                                                <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                            </div>
                                        </div>
                                        <div class="ratingAmount">
                                            <p v-if="bier.reviewAmount > 1">{{bier.reviewAmount}} reviews</p>
                                            <p v-if="!bier.reviewAmount">{{bier.reviewAmount}} geen reviews</p>
                                            <p v-if="bier.reviewAmount == 1">{{bier.reviewAmount}} review</p>
                                        </div>
                                    </div>
                       
                                </div>
                            </div>
                            <div class="reviewBar" >
                                <div class="reviewButton" onclick="openReviews(this)">
                                    <i class="fas fa-caret-down"></i><h5>Reviews</h5>
                                </div>
                                <div class="reviews">
                                    <div class="reviewbox boxes">
                                        <div class="review" v-for="review in bier.reviews">
                                            <div class="reviewRating">
                                                <div class="reviewStar" v-if="review.rating > 0">
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating > 1">
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating > 2">
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating > 3">
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating > 4">
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating < 1">
                                                    <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating < 2">
                                                    <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating < 3">
                                                    <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating < 4">
                                                    <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                                </div>
                                                <div class="reviewStar" v-if="review.rating < 5">
                                                    <i class="fas fa-star" style="color:rgb(185, 185, 185);"></i>
                                                </div>
                                            </div>
                                            <div class="reviewText">
                                                {{review.review}}
                                            </div>
                                        </div>
                                        <div class="review" v-if="logindata.logged_in && bier.reviewed == false">
                                            <div class="reviewRating">
                                                <div class="makeReviewStar">
                                                    <i class="fas fa-star" onclick="colorStar(this, 1)" v-on:click="fRating(bier, 1)"></i>
                                                </div>
                                                <div class="makeReviewStar">
                                                    <i class="fas fa-star" onclick="colorStar(this, 2)" v-on:click="fRating(bier, 2)"></i>
                                                </div>
                                                <div class="makeReviewStar">
                                                    <i class="fas fa-star" onclick="colorStar(this, 3)" v-on:click="fRating(bier, 3)"></i>
                                                </div>
                                                <div class="makeReviewStar">
                                                    <i class="fas fa-star" onclick="colorStar(this, 4)" v-on:click="fRating(bier, 4)"></i>
                                                </div>
                                                <div class="makeReviewStar">
                                                    <i class="fas fa-star" onclick="colorStar(this, 5)" v-on:click="fRating(bier, 5)"></i>
                                                </div>
                                            </div>
                                            <div class="reviewText">
                                                <textarea name="" id="textarea" placeholder="Schrijf een review" v-model="bier.newReview"></textarea>
                                            </div>
                                            <div>
                                                <button v-on:click="sendReview(bier)">verstuur</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mods" onmouseleave="hideEdit(this)">
                            <i class="fas fa-ellipsis-v" onmouseenter="showEdit(this)"></i>
                            <div class="edit">
                                <div onclick="edit()" v-on:click="updBier(bier)">Aanpassen</div>
                                <div>Verwijderen</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filterDiv">
                <div class="sortDiv">
                    <div class="sorteer">
                        <h4>sorteer op:</h4> 
                    </div>
                    
                    <button v-on:click="sort(1)" onclick="sort(this)">beoordeling</button>
                    <button v-on:click="sort(2)" onclick="sort(this)">aantal likes</button>
                    <button v-on:click="sort(3)" onclick="sort(this)">aantal reviews</button>
                    <button v-on:click="sort(4)" onclick="sort(this)">prijs aflopend</button>
                    <button v-on:click="sort(5)" onclick="sort(this)">prijs oplopend</button>
                </div>
                <div class="filter">
                    <div class="gisting" onclick="openGisting()">
                         <h4>gisting:</h4>
                    </div>
                    <div id="gistingButtons">
                        <button v-on:click="filter(1)" onclick="filterButton(this)">hoge</button>
                        <button v-on:click="filter()" onclick="filterButton(this)">hoge met nof</button>
                        <button v-on:click="filter()" onclick="filterButton(this)">hoge + melkzure</button>
                        <button v-on:click="filter()" onclick="filterButton(this)">hoge + spontane</button>
                        <button v-on:click="filter()" onclick="filterButton(this)">spontane</button>
                        <button v-on:click="filter()" onclick="filterButton(this)">spontane + nof</button>
                        <button v-on:click="filter()" onclick="filterButton(this)">spontane + hoge</button>
                        <button v-on:click="filter(2)" onclick="filterButton(this)">lage</button>
                   </div>
                   <div class="type">
                        <h4>type:</h4>
                   </div>
                    
         
                </div>






            </div>
        </div>
    </div>






</body>




</html>

<script src="vueScript.js"></script>