<!DOCTYPE html>
<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="vue.js"></script>
    <script src="script.js"></script>
    <script src="script2.js"></script>

   

    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="style2.css" type="text/css">
    <script src="https://kit.fontawesome.com/779b41c1bd.js" crossorigin="anonymous"></script> 
</head>
<body>

    <div id="background">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="bubble bubble5"></div>
        <div class="bubble bubble6"></div>
        <div class="bubble bubble7"></div>
        <div class="bubble bubble8"></div>
        <div class="bubble bubble9"></div>
        <div class="bubble bubble10"></div>
        <div class="bubble bubble11"></div>
        <div class="bubble bubble12"></div>
        <div class="bubble bubble13"></div>
        <div class="bubble bubble14"></div>
        <div class="bubble bubble15"></div>
        <div class="bubble bubble16"></div>
        <div class="bubble bubble17"></div>
        <div class="bubble bubble18"></div>
        <div class="bubble bubble19"></div>
        <div class="bubble bubble20"></div>
    </div>

    <div id="app" class="app">
        <div class="content">
            <!-- <table id="selectTable">
                <tr>
                    <td v-for="field in fieldset"> {{ field.title }}</td>
                </tr>
                <tr>
                    <td  v-for="field in fieldset">
                        <label class="switch">
                            <input type="checkbox" v-model="field.bShow">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
            </table> -->


            <!-- selBier = {{ selBier }} -->

            <!-- <beer-form id="edit" v-bind:biertje="selBier"></beer-form>
            <beer-delete id="delete" v-bind:biertje="selBier"></beer-delete>
            <beer-add id="add" v-bind:biertje="selBier"></beer-add> -->

            <!-- <table id="beerTable">
                <tr>
                    <th id="addHover">
                        <i class="fas fa-folder-plus" onclick="add()" v-on:click="addBier()" style="cursor: pointer;"></i>
                    </th>
                    <th v-for="field in fieldset"
                        v-if="field.bShow">
                        {{ field.title }}
                    </th>
                    <th></th>
                </tr>
                <tr v-for="bier in biertjes" class="tables">
                    <td class="iconKleur">
                        <i class="fas fa-trash" onclick="del()" style="cursor: pointer;" onmouseover="iconHover(this)" onmouseleave="iconLeave(this)" v-on:click="delBier(bier)"></i>
                        <i class="fas fa-edit" onclick="edit()" style="cursor: pointer;" onmouseover="iconHover(this)" onmouseleave="iconLeave(this)" v-on:click="updBier(bier)"></i>
                    </td>
                    <td v-for="field in fieldset" v-if="field.bShow">
                        {{ bier[field.field] }}
                    </td>
                    <td>
                        <i class="far fa-thumbs-up" onmouseover="thumbHover(this)" onmouseleave="thumbLeave(this)" v-on:click="updLike(bier)"></i>
                    </td>
         
                </tr>   
            </table> -->

            <div class="beerContainer">
                <ul class="beerList">
                    <li v-for="bier in biertjes">
                        <div class="beerField">
                            <div class="nameField">
                                <h1>{{bier.naam}}</h1>
                            </div>
                            <div class="restField">
                                <div class="brewerRatingField">
                                    <div class="brewerField">
                                        <h4>{{bier.brouwer}}</h4>
                                    </div>
                                    <div class="ratingField">
                                        <div class="stars">
                                            <div class="star" id="star1">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" id="star2">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" id="star3">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" id="star4">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="star" id="star5">
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="infoField">
                                    <div class="infoRow1">
                                        <h6>type: {{bier.type}}</h6>
                                        <h6>gisting: {{bier.gisting}}</h6>
                                        <h6>perc: {{bier.perc}}</h6>
                                        <h6>inkoop prijs: {{bier.inkoop_prijs}}</h6>
                                    </div>
                                    <div class="infoRow2">

                                    </div>
                                </div>
                            </div>
                    
                            <div class="reviewBar" >
                                <div class="reviewButton" onclick="openReviews(this)">
                                    <i class="fas fa-caret-down"></i><h5>Reviews</h5>
                                </div>
                                <div class="reviews">
                                    sldakfjasdlk;jflk;asdjfl;kasdjfl;kasdjflksajds;alkfj<br> sdfasdfsadf
                                </div>
                            </div>
                    
                        </div>
                    </li>
                </ul>
            </div>





        </div>
    </div>






</body>




</html>

<script src="vueScript.js"></script>